* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Poppins';
  margin: 0;
  height: auto;
}

.upper {
  background-color: #555a6e;
  height: 100px;
  width: 100%;
}

.navbar {
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar img {
  max-height: 100px;
}

.home img {
  margin-top: 20px;
  margin-left: 30px;
  height: 50px;
  width: 50px;
}
.box {
  margin-left: 10px;
  width: 90%;
  border-style: outset;
  border-color: #f2f1f1;
  padding-left: 10px;
  border-radius: 20px;
  margin-top: 20px;
}
.caption{
  padding-left: 10px;
  margin-bottom: 10px;
}
.lost{
  color:red;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.sub{
  font-size: 50px;
  font-weight: bold;
}
.date{
  padding-bottom: 10px;
}
.item{
  font-size: 30px;
}
.box2 {
  margin-left: 10px;
  width:90%;
  border-style: outset;
  border-color: #f2f1f1;
  padding-left: 10px;
  border-radius:15px;
  height: auto;
  margin-top: 20px;
 margin-bottom: 20px;
}
.contact{
  font-size: 30px;
  font-weight:bold;
  margin-top: 20px;
  
}
.message{
  background-image: linear-gradient(to bottom right, #FFD6BA ,  #EC8844);
  border: 1;
  border-radius: 10px;
  width: 95%;
  margin-top: 10px;
  height: 50px;
  padding-top: 10px;
  text-align: center;
}
.message a{
  font-weight: bold;
  text-decoration: none; 
  color: white;
  font-size: 20px;
}

.top-border {
  margin-top: 20px;
  border-top: 2px solid #D9D9D9;
  width: 95%;
}
.feed{
  font-size: 30px;
  font-weight:bold;
  margin-top: 30px;
}
.comment{
  width: 95%;
  border-radius: 10px;
  border-style: outset;
  margin-top: 20px;
}
.comment::placeholder{
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
.statement{
  width: 95%;
  border: 1px transparent;
  font-size: 15px;
  padding-left: 5px;
  color: #838383;
  padding-top: 10px;
}

.submit{
  background-image: linear-gradient(to bottom right, #FFD6BA ,  #EC8844);
  border: 1;
  border-radius: 10px;
  width: 95%;
  margin-top: 30px;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.submit a{
  font-weight: bold;
  text-decoration: none; 
  color: white;
  font-size: 20px;
}
.footer {
  margin-top: 10px;
  height: auto;
  background-color: #555a6e;
  color: #fff;
  width: 100%;
}

.footer1 {
  list-style: none;
  display: flex;
}

.space-around {
  justify-content: center;
}

.aboutus,
.terms,
.privacy,
.feedback {
  padding-top: 10px;
  padding-left: 20px;
}

.aboutus a,
.terms a,
.privacy a,
.feedback a {
  color: #d7d7d7;
}

.icon {
  list-style: none;
  display: flex;
}

.fb img {
  height: 30px;
  width: 30px;
  padding-top: 13px;
}

.twitter img {
  height: 35px;
  width: 35px;
}

.insta img {
  height: 35px;
  width: 35px;
}

.twitter,
.insta {
  padding-top: 10px;
  padding-left: 40px;
}

.c {
  color: #D9D9D9;
text-align: center;
  padding-bottom: 10px;
}

@media only screen and (min-width:700px){
  .box, .box2 {
    margin-left: 30px;
  }
}
@media only screen and (min-width:1300px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
      overflow-y: scroll;
    }
    body{
      font-family: 'Poppins';
      margin: 0;
      height: 100%;
    }
    .upper{
    background-color:#555a6e;
    height: 100px;
    }
    .navbar{
      padding: 0;
      list-style: none;
      display: flex;
    }
    .navbar img{
      margin-left:520px;
      max-height: 100px ;
    }
    .home img{
      margin-top: 20px;
      margin-left: 30px;
      height: 50px;
      width: 50px;
  }
  
    .flex{
      padding: 0;
      list-style: none;
      display: flex;
      align-items: flex-start;
    }
  
    .box {
      margin-left: 100px;
      width: 700px;
      border-style: outset;
      border-color: #f2f1f1;
      padding-left: 10px;
      border-radius: 20px;
      flex: 1;
      margin-top: 20px;
    }
    .caption{
      padding-left: 10px;
      margin-bottom: 10px;
    }
    .lost{
      color:red;
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
    }
    .sub{
      font-size: 50px;
      font-weight: bold;
    }
    .date{
      padding-bottom: 10px;
    }
    .item{
      font-size: 30px;
    }
  
    .box2 {
      margin-left: 50px;
      width: 450px;
      border-style: outset;
      border-color: #f2f1f1;
      padding-left: 20px;
      border-radius:15px;
      height: 720px;
      margin-top: 20px;
      margin-right: 100px;
    }
    .contact{
      font-size: 30px;
      font-weight:bold;
      margin-top: 20px;
      
    }
    .message{
      background-image: linear-gradient(to bottom right, #FFD6BA ,  #EC8844);
      border: 1;
      border-radius: 10px;
      width: 400px;
      margin-top: 30px;
      height: 50px;
      padding-top: 10px;
      
    }
    .message a{
      font-weight: bold;
      text-decoration: none; 
      color: white;
 
      font-size: 20px;
    }
    .top-border {
      margin-top: 50px;
      border-top: 2px solid #D9D9D9;
      width: 400px;
    }
    .feed{
      font-size: 30px;
      font-weight:bold;
      margin-top: 30px;
    }
    .comment{
      width: 400px;
      border-radius: 10px;
      border-style: outset;
      margin-top: 20px;
    }
    .comment::placeholder{
      font-size: 20px;
      padding-left: 20px;
      padding-top: 10px;
    }
    .statement{
      width: 400px;
      border: 1px transparent;
      font-size: 15px;
      padding-left: 5px;
      color: #838383;
      padding-top: 10px;
    }
    .submit{
      background-image: linear-gradient(to bottom right, #FFD6BA ,  #EC8844);
      border: 1;
      border-radius: 10px;
      width: 400px;
      margin-top: 30px;
      height: 50px;
      padding-top: 10px;
      margin-bottom: 20px;
    }
    .submit a{
      font-weight: bold;
      text-decoration: none; 
      color: white;

      font-size: 20px;
    }
  
    .footer{
      margin-top: 20px;
      height: 200px;
      background-color:#555a6e;
      color: #fff;
    }
    .footer1{
      list-style: none;
      display: flex;
    }
    .space-around { 
      justify-content: center; 
    }
    .aboutus, .terms, .privacy, .feedback{
      
      padding-top: 30px;
      padding-left: 40px;
    }
    .aboutus a, .terms a, .privacy a, .feedback a{
      color: #d7d7d7;
    }
    .icon{
      list-style: none;
      display: flex;
    }
    .fb img{
      height: 42px;
      width: 30px;
      padding-top: 13px;
    
    }
    .twitter img{
      height: 35px;
      width: 35px;
    }
    .insta img{
      height: 35px;
      width: 35px;
    }
    .twitter, .insta{
      padding-top: 10px;
      padding-left: 40px;
    }
    .c a2{
      color: #D9D9D9;
      padding-left: 620px;
    }
}