* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Poppins';
  margin: 0;
}

.upper {
  background-color: #555a6e;
  height: 100px;
  width: 100%;
}

.navbar {
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar {
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar img {
  max-height: 100px;
}

.home img {
  margin-top: 20px;
  margin-left: 30px;
  height: 50px;
  width: 50px;
}

.title {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.middle {
  min-height: 100%;
}

.column {
  margin-top: 10px;
  margin-left: 5px;
  width: 98%;
  height: 640px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(85, 90, 110, 255, 0.3);
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 5px;
  border-bottom: 2px solid white;
}

th {
  background-color: #f8ab77;
  height: 70px;
}

td {
  height: 50px;

}

.table-bordered td,
.table-bordered th {
  border: 1px solid rgb(0, 0, 0) !important;

}

.footer {
  margin-top: 20px;
  height: auto;
  background-color: #555a6e;
  color: #fff;
  width: 100%;
}

.footer1 {
  list-style: none;
  display: flex;
}

.space-around {
  justify-content: center;
}

.aboutus,
.terms,
.privacy,
.feedback {
  padding-top: 10px;
  padding-left: 20px;
}

.aboutus a,
.terms a,
.privacy a,
.feedback a {
  color: #d7d7d7;
}

.icon {
  list-style: none;
  display: flex;
}

.fb img {
  height: 3xpx;
  width: 30px;
  padding-top: 13px;

}

.twitter img {
  height: 35px;
  width: 35px;
}

.insta img {
  height: 35px;
  width: 35px;
}

.twitter,
.insta {
  padding-top: 10px;
  padding-left: 40px;
}

.c {
  color: #D9D9D9;
  text-align: center;
  padding-bottom: 10px;
}

@media only screen and (min-width:1300px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    overflow-y: scroll;
    height: 100%;
  }

  body {
    font-family: 'Poppins';
    margin: 0;
    height: 100%;
  }

  .upper {
    background-color: #555a6e;
    height: 100px;
  }

  .navbar {
    padding: 0;
    list-style: none;
    display: flex;
  }

  .navbar img {
    margin-left: 520px;
    max-height: 100px;
  }

  .home img {
    margin-top: 20px;
    margin-left: 30px;
    height: 50px;
    width: 50px;
  }

  .title {

    font-size: 40px;
    margin-top: 20px;
  }

  .middle {
    min-height: 100%;
  }

  .column {
    margin-left: 8%;
    float: left;
    width: 1300px;
    height: 640px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(85, 90, 110, 255, 0.3);
  }

  .table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 1em;
    border-bottom: 2px solid white;
  }

  th {
    background-color: #f8ab77;
    height: 70px;
  }

  td {
    height: 50px;

  }

  .table-bordered td,
  .table-bordered th {
    border: 1px solid rgb(0, 0, 0) !important;

  }

  .page {
    margin-top: 20px;
    text-align: end;
    margin-right: 120px;
  }

  .page a {
    text-decoration: none;
    color: #000;
  }

  .page ab {

    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    padding: 8px 16px;
    border: 1px solid;
    border-color: #808080;
  }

  .page ab:hover:not(.active) {
    background-color: #f8ab77;
  }

  .noresult img {
    height: 300px;
    margin-left: 580px;
    margin-top: 50px;
  }

  .sorry {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 580px;
  }

}