html {
    overflow-y: scroll;
  }
  body{
      font-family: 'Poppins';
      margin: 0;
      height: 100%;
  }
  .upper{
  background-color:#555a6e;
  height: 100px;
  }
  .navbar{
    padding: 0;
    list-style: none;
    display: flex;
  }
  .navbar img{
    margin-left:520px;
    max-height: 100px ;
  }
  .home img{
    margin-top: 20px;
    margin-left: 30px;
    height: 50px;
    width: 50px;
}
  .flex{
    padding: 0;
    list-style: none;
    display: flex;
  }
  .flex img{
    margin-top: 150px;
    width: 700px;
    margin-left:-100px;
   height: 500px;
  }
  .box {
    margin-top: 20px;
    width: 820px;
    height: auto;
    padding: 30px 25px;
    margin-left: 40px;
  }
    .details{
      margin-top: 20px;
    }
  .details a2{
    font-size: 30px;
    font-weight: bold;
  }
  .details a3{
    color: #808080;
  }

.info{
  margin-top: 40px;
}
.name, .email_sender, .num{
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  height: 25px;
  width: 600px;
  border-radius: 10px;
  margin-top: 10px;
}
.name:focus, .email_sender:focus, .num:focus{
  border-color:#6e8095;
  outline: none;
}
.des{
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  height: 70px;
  width: 700px;
  border-radius: 10px;
  margin-top: 10px;
}
.cancel_save{
  padding: 0;
  list-style: none;
  display: flex;
}
.save{
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 630px;
  border: 3px;
  border-radius: 20px;
  height: 50px;
  width: 100px;
  border-color: #d9d9d9;
  border-style: solid;
  background-color:#FFD6BA;
  cursor: pointer;
}
.save a1{
  padding-left: 18px;
}
.save:hover{
  background-color:#c76320;
}

.footer{
  padding-top: 30px;
  margin-top: 30px;
  height: 200px;
  background-color:#555a6e;
  color: #fff;
}
.footer1{
  list-style: none;
  display: flex;
}
.space-around { 
  justify-content: center; 
}
.aboutus, .terms, .privacy, .feedback{
  color: #D9D9D9;
  padding-top: 10px;
  padding-left: 40px;
}
.icon{
  list-style: none;
  display: flex;
}
.fb img{
  height: 30px;
  width: 30px;
  padding-top: 13px;
}
.twitter img{
  height: 35px;
  width: 35px;
}
.insta img{
  height: 35px;
  width: 35px;
}
.twitter, .insta{
  padding-top: 10px;
  padding-left: 40px;
}
.c a2{
  color: #D9D9D9;
  padding-left: 600px;
}
