* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Poppins';
  margin: 0;
}

.wrapper {
  width: 100%;
}

.upper {
  background-color: #555a6e;
  height: 550px;
  width: 100%;
}

.navbar {
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
}

.navbar img {
  margin-left: 5px;
  max-height: 50px;
  margin-top: 5px;
}

.buttonlogin {
  margin-left: 50px;
  text-align: center;
  cursor: pointer;
  margin-top: 12px;
  color: #fff;
  height: 30px;
  width: 90px;
  font-size: 15px;
  background-color: transparent;
  border: 0px;
}

.buttonlogin:hover {
  background-color: #f8ab77;
  border-radius: 5px;
}

.buttonsign {
  text-align: center;
  cursor: pointer;
  margin-top: 12px;
  background-color: #FFD6BA;
  height: 30px;
  width: 90px;
  font-size: 15px;
  border-radius: 5px;
  border-color: transparent;
  font-weight: 600;
}

.buttonsign:hover {
  background-color: #f8ab77;
}

.quote h3 {
  font-size: 30px;
  color: #fff;
  width: 100%;
  margin-left: 20px;
}

.let {
  font-size: 15px;
  margin-top: 10px;
  padding-left: 5px;
  width: 100%;
}

.buttonpost {
  text-align: center;
  color: #000;
  height: 30px;
  width: 100px;
  background-color: #FFD6BA;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  font-family: "Poppins";
  font-weight: 600;
  margin-top: 10px;
}

.button-block {
  display: block;
  width: 130px;
}

.button-block:hover {
  background-color: #f8ab77;
}

.quote img {
  width: 400px;
  height: 300px;
}

.search {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #D9D9D9;
  height: 70px;
  width: 100%;
}

.search input[type="text"] {
  color: #000;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 10px;
  height: 50px;
  width: 240px;
  border-radius: 8px;
  border: 0;
  font-size: 15px;
  padding-left: 10px;
}

.search input::placeholder {
  color: #808080;
  padding-left: 20px;
  background-color: #fff;
  height: 50px;
  width: 90px;
  border-radius: 8px;
  border: 0;
  font-size: 15px;
}

.search input[type="submit"] {
  color: #000;
  margin-top: 10px;
  background-color: #FFD6BA;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  border: 0;
  font-size: 15px;
  cursor: pointer;
}

.search input[type="submit"]:hover {
  background-color: #f8ab77;
}

.cat {
  margin-top: 5px;
  border-radius: 20px;
  height: 180px;
  width: 95%;
  border-color: #f2f1f1;
  border-style: groove;
  margin-left: 8px;
  margin-bottom: 10px;
}

.cat h3 {
  padding-top: 5px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 10px;
}

.fthree,
.sthree {
  list-style: none;
  display: flex;
}

.phone img {
  width: 50px;
  height: 40px;
  margin-left: 40px;
  display: block;
}

.phone elec {
  padding-left: 25px;
  font-size: 15px;
}

.clothes img {
  width: 50px;
  height: 40px;
  margin-left: 50px;
  display: block;
}

.clothes cloth {
  padding-left: 40px;
  font-size: 15px;
}

.lit img {
  width: 50px;
  height: 40px;
  margin-left: 60px;
  display: block;
}

.lit lit {
  padding-left: 50px;
  font-size: 15px;
}

.music img {
  width: 50px;
  height: 40px;
  margin-left: 40px;
  display: block;
}

.music music {
  padding-left: 15px;
  font-size: 15px;
}
.music music1{
  display: none;
}
.personal img {
  width: 50px;
  height: 40px;
  margin-left: 50px;
  display: block;
}

.personal per {
  padding-left: 28px;
  font-size: 15px;
}
.personal per1{
  display: none;
}
.sport img {
  width: 50px;
  height: 40px;
  margin-left: 48px;
  display: block;
}

.sport sport {
  padding-left: 50px;
  font-size: 15px;
}
.sport sport1{
  display: none;
}
.recentlost h3 {
  margin-top: 10px;
  margin-left: 12px;
  padding-left: 10px;
  border-radius: 20px;
  height: auto;
  width: 90%;
  border-color: #f2f1f1;
  border-style: groove;
}

.recentlost1 a {
  padding-left: 180px;
  font-size: 30px;
  color: #000;
}

.lost1 {
  padding-top: 10px;
  border: 3px;
  border-radius: 20px;
  width: 90%;
  border-color: #d9d9d9;
  border-style: solid;
  padding-left: 20px;
  height: auto;
}

.a2 img {
  height: 50px;
  width: 150px;
  margin-left: 150px;
}

.lost2,
.lost3 {
  padding-top: 10px;
  margin-top: 10px;
  border: 3px;
  border-radius: 20px;
  height: auto;
  width: 90%;
  border-color: #d9d9d9;
  border-style: solid;
  padding-left: 20px;
  margin-bottom: 10px;
}

.recentfound h3 {
  margin-top: 10px;
  margin-left: 12px;
  padding-left: 10px;
  border-radius: 20px;
  height: auto;
  width: 90%;
  border-color: #f2f1f1;
  border-style: groove;
}

.recentfound1 a {
  padding-left: 160px;
  font-size: 30px;
  color: #000;
}

.found1 {
  padding-top: 10px;
  border: 3px;
  border-radius: 20px;
  width: 90%;
  border-color: #d9d9d9;
  border-style: solid;
  padding-left: 20px;
  height: auto;
}

.a3 img {
  height: 50px;
  width: 150px;
  margin-left: 150px;
}

.found2,
.found3 {
  padding-top: 10px;
  margin-top: 10px;
  border: 3px;
  border-radius: 20px;
  height: auto;
  width: 90%;
  border-color: #d9d9d9;
  border-style: solid;
  padding-left: 20px;
  margin-bottom: 10px;
}

.footer {
  margin-top: 10px;
  height: auto;
  background-color: #555a6e;
  color: #fff;
  width: 100%;
}

.footer1 {
  list-style: none;
  display: flex;
}

.space-around {
  justify-content: center;
}

.aboutus,
.terms,
.privacy,
.feedback {
  padding-top: 10px;
  padding-left: 20px;
}

.aboutus a,
.terms a,
.privacy a,
.feedback a {
  color: #d7d7d7;
}

.icon {
  list-style: none;
  display: flex;
}

.fb img {
  height: 30px;
  width: 30px;
  padding-top: 13px;
}

.twitter img {
  height: 35px;
  width: 35px;
}

.insta img {
  height: 35px;
  width: 35px;
}

.twitter,
.insta {
  padding-top: 10px;
  padding-left: 40px;
}

.c {
  color: #D9D9D9;
text-align: center;
  padding-bottom: 10px;
}
@media only screen and (min-width: 400px){
  .buttonlogin {
    font-family: 'Poppins';
    margin-left: 80px;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    color: #fff;
    height: 50px;
    width: 90px;
    font-size: 20px;
    background-color: transparent;
    border: 0px;
  }

  .buttonlogin:hover {
    background-color: #f8ab77;
    border-radius: 5px;
  }

  .search input[type="text"] {
    color: #000;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    height: 50px;
    width: 68%;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    padding-left: 10px;
  }
  .searchbox{
    width: 100%;
  }
  .search input::placeholder {
    color: #808080;
    padding-left: 20px;
    background-color: #fff;
    height: 50px;
    width: 90px;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
  }
  
  .search input[type="submit"] {
    color: #000;
    margin-top: 10px;
    background-color: #FFD6BA;
    height: 50px;
    width: 20%;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
  }
  
  .search input[type="submit"]:hover {
    background-color: #f8ab77;
  }

  .a2 img {
    height: 50px;
    width: 150px;
    margin-left: 170px;
  }
  .recentlost1{
    padding-left: 10px;
  }
  .recentlost1 a {
    padding-left: 200px;
    color: #000;
  }
  .recentfound1{
    padding-left: 10px;
  }
  .recentfound1 a {
    padding-left: 180px;
    color: #000;
  }
  .fthree{
    padding-bottom: 10px;
  }
  .phone img {
    margin-left: 60px;
    display: block;
  }
  .phone elec {
    padding-left: 45px;
    font-size: 15px;
  }
  .clothes img{
    margin-left: 50px;
    display: block;
  }
  .clothes cloth {
    padding-left: 43px;
    font-size: 15px;
  }
  .lit lit {
    padding-left: 50px;
    font-size: 15px;
  }
  
  .music img {
    margin-left: 60px;
    display: block;
  }
  
  .music music {
    padding-left: 40px;

  }
  .personal img {
    margin-left: 48px;
    display: block;
  }
  
  .personal per {
    padding-left: 30px;
    font-size: 15px;
  }

  .sport img {
    margin-left: 45px;
    display: block;
  }
  
  .sport sport {
    padding-left: 47px;
    font-size: 15px;
  }


}

@media only screen and (min-width: 700px) {
  * {
    margin: 0;
    padding: 0;
  }
  .upper {
    height: auto;
    width: 100%;
  }
  .navbar {
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
  }
  .navbar .log{
    width: 100%;
    display: flex;
    justify-content:flex-end;
  }

  .navbar img {
    margin-left: 20px;
    max-height: 80px;
    margin-top: 5px;

  }

  .buttonlogin {
    margin-left:20px;
    margin-top: 12px;
    height: 50px;
    width: 90px;
  }

  .buttonlogin:hover {
    background-color: #f8ab77;
    border-radius: 5px;
  }

  .buttonsign {
    margin-right: 40px;
    margin-top: 12px;
    height: 50px;
    width: 90px;
    font-size: 20px;
    margin-left: 20px;
  }
  .buttonsign:hover {
    background-color: #f8ab77;
  }
  .quote{
    padding: 0;
    list-style: none;
    display: flex;
  }
  .quote h3 {
    font-size: 30px;
    width: 100%;
    margin-left: 30px;
  }
  .let {
    font-size: 15px;
    margin-top: 10px;
    padding-left: 5px;
    width: 100%;
  }
  .quote img {
    width: 100%;
    height: 300px;
  }
  .search {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
    height: 70px;
    width: 100%;
  }
  
  .search input[type="text"] {
    margin-top: 10px;
    margin-left: 20px;
    height: 50px;
    width: 70%;
    font-size: 15px;
    padding-left: 10px;
  }
  
  .search input::placeholder {
    padding-left: 20px;
    height: 50px;
    width: 90px;
    font-size: 15px;
  }
  .search input[type="submit"] {
    height: 50px;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
  }
  .search input[type="submit"]:hover {
    background-color: #f8ab77;
  }
  .middle{
    padding: 0;
    list-style: none;
    display: flex;
  }
  .cat{
    margin-top: 10px;
    margin-left:27px;
    height: 1000px;
    width: 20%;
   }
   .fthree , .sthree{
    display: block;
   }
   .cat h3{
    padding-top: 20px;
    text-align:center;
  }
  .phone img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .phone elec{
    padding-left: 25px;
  }
  .clothes img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .clothes cloth{
    padding-left:30px;
  }
  .lit img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .lit lit{
    padding-left: 30px;
  }
  .music img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .music music{
    display: none;
  }
  .music music1{
    display: block; 
    text-align: center;
  }
  .personal img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .personal per{
    display: none;
  }
  .personal per1{
    display: block;
    text-align: center;
  }
  .sport img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .sport sport{
    display: none;
  }
  .sport sport1{
    display: block;
    text-align: center;
  }
  .recentlost h3 {
    margin-top: 10px;
    margin-left: 12px;
    padding-left: 15px;
    height: auto;
    width: 85%;
  }
  .a2 img {
    height: 50px;
    width: 150px;
    margin-left: 300px;
  }
  .recentlost1 a {
    padding-left: 340px;
  }
  .recentfound h3 {
    margin-top: 10px;
    margin-left: 12px;
    padding-left: 15px;
    height: auto;
    width: 85%;
  }
  .recentfound1 a {
    padding-left:320px;
  }
  .a3 img {
    height: 50px;
    width: 150px;
    margin-left: 300px;
  }
  
}

@media only screen and (min-width: 1300px){
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    overflow-y: scroll;
  }
  
  body {
    font-family: 'Poppins';
    margin: 0;
  }
  
  .wrapper {
    width: 100%;
  }
  
  .upper {
    background-color: #555a6e;
    height: 550px;
    width: 100%;
  }
  
  .navbar {
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  .navbar img {
    margin-left: 5px;
    max-height: 50px;
    margin-top: 5px;
  }
  
  .buttonlogin {
    margin-left: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 12px;
    color: #fff;
    height: 30px;
    width: 90px;
    font-size: 15px;
    background-color: transparent;
    border: 0px;
  }
  
  .buttonlogin:hover {
    background-color: #f8ab77;
    border-radius: 5px;
  }
  
  .buttonsign {
    text-align: center;
    cursor: pointer;
    margin-top: 12px;
    background-color: #FFD6BA;
    height: 30px;
    width: 90px;
    font-size: 15px;
    border-radius: 5px;
    border-color: transparent;
    font-weight: 600;
    margin-right: 130px;
  }
  
  .buttonsign:hover {
    background-color: #f8ab77;
  }
  
  .quote h3 {
    font-size: 30px;
    color: #fff;
    width: 100%;
    margin-left: 20px;
  }
  
  .let {
    font-size: 15px;
    margin-top: 10px;
    padding-left: 5px;
    width: 100%;
  }
  
  .buttonpost {
    text-align: center;
    color: #000;
    height: 30px;
    width: 100px;
    background-color: #FFD6BA;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    font-family: "Poppins";
    font-weight: 600;
    margin-top: 10px;
  }
  
  .button-block {
    display: block;
    width: 130px;
  }
  
  .button-block:hover {
    background-color: #f8ab77;
  }
  
  .quote img {
    width: 400px;
    height: 300px;
  }
  
  .search {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
    height: 70px;
    width: 100%;
  }
  
  .search input[type="text"] {
    color: #000;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    width: 240px;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    padding-left: 10px;
  }
  
  .search input::placeholder {
    color: #808080;
    padding-left: 20px;
    background-color: #fff;
    height: 50px;
    width: 90px;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
  }
  
  .search input[type="submit"] {
    color: #000;
    margin-top: 10px;
    background-color: #FFD6BA;
    height: 50px;
    width: 100px;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
  }
  
  .search input[type="submit"]:hover {
    background-color: #f8ab77;
  }
  
  .cat {
    margin-top: 5px;
    border-radius: 20px;
    height: 180px;
    width: 95%;
    border-color: #f2f1f1;
    border-style: groove;
    margin-left: 8px;
    margin-bottom: 10px;
  }
  
  .cat h3 {
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
  }
  
  .fthree,
  .sthree {
    list-style: none;
    display: flex;
  }
  
  .phone img {
    width: 50px;
    height: 40px;
    margin-left: 40px;
    display: block;
  }
  
  .phone elec {
    padding-left: 25px;
    font-size: 15px;
  }
  
  .clothes img {
    width: 50px;
    height: 40px;
    margin-left: 50px;
    display: block;
  }
  
  .clothes cloth {
    padding-left: 40px;
    font-size: 15px;
  }
  
  .lit img {
    width: 50px;
    height: 40px;
    margin-left: 60px;
    display: block;
  }
  
  .lit lit {
    padding-left: 50px;
    font-size: 15px;
  }
  
  .music img {
    width: 50px;
    height: 40px;
    margin-left: 40px;
    display: block;
  }
  
  .music music {
    padding-left: 15px;
    font-size: 15px;
  }
  .music music1{
    display: none;
  }
  .personal img {
    width: 50px;
    height: 40px;
    margin-left: 50px;
    display: block;
  }
  
  .personal per {
    padding-left: 28px;
    font-size: 15px;
  }
  .personal per1{
    display: none;
  }
  .sport img {
    width: 50px;
    height: 40px;
    margin-left: 48px;
    display: block;
  }
  
  .sport sport {
    padding-left: 50px;
    font-size: 15px;
  }
  .sport sport1{
    display: none;
  }
  .recentlost h3 {
    margin-top: 10px;
    margin-left: 12px;
    padding-left: 10px;
    border-radius: 20px;
    height: auto;
    width: 90%;
    border-color: #f2f1f1;
    border-style: groove;
  }
  
  .recentlost1 a {
    padding-left: 180px;
    font-size: 30px;
    color: #000;
  }
  
  .lost1 {
    padding-top: 10px;
    border: 3px;
    border-radius: 20px;
    width: 90%;
    border-color: #d9d9d9;
    border-style: solid;
    padding-left: 20px;
    height: auto;
  }
  
  .a2 img {
    height: 50px;
    width: 150px;
    margin-left: 150px;
  }
  
  .lost2,
  .lost3 {
    padding-top: 10px;
    margin-top: 10px;
    border: 3px;
    border-radius: 20px;
    height: auto;
    width: 90%;
    border-color: #d9d9d9;
    border-style: solid;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .recentfound h3 {
    margin-top: 10px;
    margin-left: 12px;
    padding-left: 10px;
    border-radius: 20px;
    height: auto;
    width: 90%;
    border-color: #f2f1f1;
    border-style: groove;
  }
  
  .recentfound1 a {
    padding-left: 160px;
    font-size: 30px;
    color: #000;
  }
  
  .found1 {
    padding-top: 10px;
    border: 3px;
    border-radius: 20px;
    width: 90%;
    border-color: #d9d9d9;
    border-style: solid;
    padding-left: 20px;
    height: auto;
  }
  
  .a3 img {
    height: 50px;
    width: 150px;
    margin-left: 150px;
  }
  
  .found2,
  .found3 {
    padding-top: 10px;
    margin-top: 10px;
    border: 3px;
    border-radius: 20px;
    height: auto;
    width: 90%;
    border-color: #d9d9d9;
    border-style: solid;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .footer {
    margin-top: 10px;
    height: auto;
    background-color: #555a6e;
    color: #fff;
    width: 100%;
  }
  
  .footer1 {
    list-style: none;
    display: flex;
  }
  
  .space-around {
    justify-content: center;
  }
  
  .aboutus,
  .terms,
  .privacy,
  .feedback {
    padding-top: 10px;
    padding-left: 20px;
  }
  
  .aboutus a,
  .terms a,
  .privacy a,
  .feedback a {
    color: #d7d7d7;
  }
  
  .icon {
    list-style: none;
    display: flex;
  }
  
  .fb img {
    height: 30px;
    width: 30px;
    padding-top: 13px;
  }
  
  .twitter img {
    height: 35px;
    width: 35px;
  }
  
  .insta img {
    height: 35px;
    width: 35px;
  }
  
  .twitter,
  .insta {
    padding-top: 10px;
    padding-left: 40px;
  }
  
  .c {
    color: #D9D9D9;
  text-align: center;
    padding-bottom: 10px;
  }
  @media only screen and (min-width: 400px){
    .buttonlogin {
      font-family: 'Poppins';
      margin-left: 80px;
      text-align: center;
      cursor: pointer;
      margin-top: 2px;
      color: #fff;
      height: 50px;
      width: 90px;
      font-size: 20px;
      background-color: transparent;
      border: 0px;
    }
  
    .buttonlogin:hover {
      background-color: #f8ab77;
      border-radius: 5px;
    }
  
    .search input[type="text"] {
      color: #000;
      background-color: #fff;
      margin-top: 10px;
      margin-left: 20px;
      height: 50px;
      width: 68%;
      border-radius: 8px;
      border: 0;
      font-size: 15px;
      padding-left: 10px;
    }
    .searchbox{
      width: 100%;
    }
    .search input::placeholder {
      color: #808080;
      padding-left: 20px;
      background-color: #fff;
      height: 50px;
      width: 90px;
      border-radius: 8px;
      border: 0;
      font-size: 15px;
    }
    
    .search input[type="submit"] {
      color: #000;
      margin-top: 10px;
      background-color: #FFD6BA;
      height: 50px;
      width: 20%;
      border-radius: 8px;
      border: 0;
      font-size: 15px;
      cursor: pointer;
    }
    
    .search input[type="submit"]:hover {
      background-color: #f8ab77;
    }
  
    .a2 img {
      height: 50px;
      width: 150px;
      margin-left: 170px;
    }
    .recentlost1{
      padding-left: 10px;
    }
    .recentlost1 a {
      padding-left: 200px;
      color: #000;
    }
    .recentfound1{
      padding-left: 10px;
    }
    .recentfound1 a {
      padding-left: 180px;
      color: #000;
    }
    .fthree{
      padding-bottom: 10px;
    }
    .phone img {
      margin-left: 60px;
      display: block;
    }
    .phone elec {
      padding-left: 45px;
      font-size: 15px;
    }
    .clothes img{
      margin-left: 50px;
      display: block;
    }
    .clothes cloth {
      padding-left: 43px;
      font-size: 15px;
    }
    .lit lit {
      padding-left: 50px;
      font-size: 15px;
    }
    
    .music img {
      margin-left: 60px;
      display: block;
    }
    
    .music music {
      padding-left: 40px;
  
    }
    .personal img {
      margin-left: 48px;
      display: block;
    }
    
    .personal per {
      padding-left: 30px;
      font-size: 15px;
    }
  
    .sport img {
      margin-left: 45px;
      display: block;
    }
    
    .sport sport {
      padding-left: 47px;
      font-size: 15px;
    }
  
  
  }
  
  @media only screen and (min-width: 720px) {
    .upper {
      background-color: #555a6e;
      height: auto;
      width: 100%;
    }
    .navbar {
      padding: 0;
      list-style: none;
      display: flex;
    }
  
    .navbar img {
      margin-left: 30px;
      max-height: 80px;
      margin-top: 5px;
    }
  
    .buttonlogin {
      font-family: 'Poppins';
      margin-left: 270px;
      text-align: center;
      cursor: pointer;
      margin-top: 12px;
      color: #fff;
      height: 50px;
      width: 90px;
      font-size: 20px;
      background-color: transparent;
      border: 0px;
    }
  
    .buttonlogin:hover {
      background-color: #f8ab77;
      border-radius: 5px;
    }
  
    .buttonsign {
      font-family: 'Poppins';
      text-align: center;
      cursor: pointer;
      margin-top: 12px;
      background-color: #FFD6BA;
      height: 50px;
      width: 90px;
      font-size: 20px;
      border-radius: 5px;
      border-color: transparent;
      font-weight: 600;
      margin-left: 10px;
    }
  
    .buttonsign:hover {
      background-color: #f8ab77;
    }
    .quote{
      padding: 0;
      list-style: none;
      display: flex;
    }
    .quote h3 {
      font-size: 30px;
      color: #fff;
      width: 100%;
      margin-left: 30px;
    }
    
    .let {
      font-size: 15px;
      margin-top: 10px;
      padding-left: 5px;
      width: 100%;
    }
    
    .buttonpost {
      text-align: center;
      color: #000;
      height: 30px;
      width: 100px;
      background-color: #FFD6BA;
      font-size: 15px;
      border-radius: 5px;
      cursor: pointer;
      border: 0;
      font-family: "Poppins";
      font-weight: 600;
      margin-top: 10px;
    }
    
    .button-block {
      display: block;
      width: 130px;
    }
    
    .button-block:hover {
      background-color: #f8ab77;
    }
    
    .quote img {
      width: 100%;
      height: 300px;
    }
    .search {
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #D9D9D9;
      height: 70px;
      width: 100%;
    }
    
    .search input[type="text"] {
      color: #000;
      background-color: #fff;
      margin-top: 10px;
      margin-left: 20px;
      height: 50px;
      width: 70%;
      border-radius: 8px;
      border: 0;
      font-size: 15px;
      padding-left: 10px;
    }
    
    .search input::placeholder {
      color: #808080;
      padding-left: 20px;
      background-color: #fff;
      height: 50px;
      width: 90px;
      border-radius: 8px;
      border: 0;
      font-size: 15px;
    }
    
    .search input[type="submit"] {
      color: #000;
      margin-top: 10px;
      background-color: #FFD6BA;
      height: 50px;
      width: 150px;
      border-radius: 8px;
      border: 0;
      font-size: 15px;
      cursor: pointer;
    }
    
    .search input[type="submit"]:hover {
      background-color: #f8ab77;
    }
  
    .middle{
      padding: 0;
      list-style: none;
      display: flex;
    }
  
    .cat{
      margin-top: 10px;
      margin-left:27px;
      border-radius: 20px;
      height: 1000px;
      width: 20%;
      border-color: #f2f1f1;
      border-style: groove;
     }
     .fthree , .sthree{
      display: block;
     }
     .cat h3{
      padding-top: 20px;
      text-align:center;
    }
    .phone img{
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .phone elec{
      
      padding-left: 35px;
    }
    .clothes img{
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .clothes cloth{
      padding-left: 45px;
    }
    .lit img{
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .lit lit{
      padding-left: 45px;
    }
    .music img{
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .music music{
      display: none;
    }
    .music music1{
      display: block; 
      text-align: center;
    }
    .personal img{
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .personal per{
      display: none;
    }
    .personal per1{
      display: block;
      text-align: center;
    }
    .sport img{
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .sport sport{
      display: none;
    }
    .sport sport1{
      display: block;
      text-align: center;
    }
    .recentlost h3 {
      margin-top: 10px;
      margin-left: 12px;
      padding-left: 15px;
      border-radius: 20px;
      height: auto;
      width: 85%;
      border-color: #f2f1f1;
      border-style: groove;
    }
    .a2 img {
      height: 50px;
      width: 150px;
      margin-left: 300px;
    }
    .recentlost1 a {
      padding-left: 340px;
      font-size: 30px;
      color: #000;
    }
    .recentfound h3 {
      margin-top: 10px;
      margin-left: 12px;
      padding-left: 15px;
      border-radius: 20px;
      height: auto;
      width: 85%;
      border-color: #f2f1f1;
      border-style: groove;
    }
    
    .recentfound1 a {
      padding-left:320px;
      font-size: 30px;
      color: #000;
    }
    .a3 img {
      height: 50px;
      width: 150px;
      margin-left: 300px;
    }
    
  }
  @media only screen and (min-width: 1300px){
    .upper{
      background-color:#555a6e;
      height: 720px;
      
      }
      .navbar{
        padding: 0;
        list-style: none;
        display: flex;
      }
      .navbar img{
        margin-left:120px;
        max-height: 120px ;
      }
      .navbar h1{
        margin-left: 700px;
        padding-top: 25px;
        color: #ffff;
        font-weight: 300;
        font-size: 20px
      }
      .buttonlogin{
        margin-left: 692px;
        text-align: center;
        font-family: 'Poppins';
        cursor: pointer;
        margin-top: 27px;
        color: #fff;
        height: 40px;
        width: 130px;
        font-size:20px;
        background-color: transparent;
        border: 0px;
      }
      .buttonlogin:hover{
        background-color: #f8ab77;
        border-radius: 5px;
      }
      .buttonsign{
        text-align: center;
        font-family: 'Poppins';
        font-weight: 600;
        cursor: pointer;
        margin-left:10px;
        margin-top: 27px;
         height: 40px;
        width: 130px;
        background-color: #FFD6BA;
        font-size:20px;
        border-radius: 5px;
        border-color: transparent;
      }
      .buttonsign:hover{
        background-color: #f8ab77;
      }
      .quote{
        padding: 0;
        list-style: none;
        display: flex;
      }
      .quote h3{
        margin-left: 120px;
        font-size: 60px;
       color: #fff;
       width: 700px;
      }
      .let{
        font-size:25px;
        margin-top: 10px;
        padding-left: 10px;
      }
      .post{
        height: 200px;
      }
       .buttonpost{
        text-align: center;
        color: #000;
        height: 60px;
        width: 200px;
        background-color: #FFD6BA;
        font-size:20px;
        border-radius: 5px;
        cursor: pointer;
        border: 0;
        font-family: "Poppins";
        font-weight: 600;
        margin-top: 10px;
      }
      .button-block {
        display: block;
        width: 200px;
      }
      .button-block:hover{
        background-color: #f8ab77;
      }
      .quote img{
       width: 750px;
       height: 600px;
      }
      
      .search{
        margin-top: 10px;
        margin-bottom: 20px;
      background-color:#D9D9D9;
       height: 100px;
      }
      .search input[type="text"]{
        color:#000;
        margin-left: 120px;
        margin-top: 20px;
        background-color:#fff;
        height: 60px;
        width: 1109px;
        border-radius: 8px;
        border: 0;
        font-size: 20px;
        padding-left: 10px;
      }
      .search input::placeholder{
        color:#808080;
        padding-left: 20px;
        margin-top: 20px;
        background-color:#fff;
        height: 60px;
        width: 1100px;
        border-radius: 8px;
        border: 0;
        font-size: 20px;
      }
      .search input[type="submit"]{
        color:#000;
        margin-top: 20px;
        background-color:#FFD6BA;
        height: 60px;
        width: 150px;
        border-radius: 8px;
        border: 0;
        font-size: 20px;
        cursor: pointer;
      }
      .search input[type="submit"]:hover{
        background-color: #f8ab77;
      }
      .middle{
        padding: 0;
        list-style: none;
        display: flex;
      }
      .cat{
       margin-top: 10px;
       margin-left: 120px;
       border-radius: 20px;
       height: 1000px;
       width: 250px;
       border-color: #f2f1f1;
       border-style: groove;
      }
      .cat h3{
        padding-top: 20px;
        text-align:center;
      }
      .phone img{
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .phone elec{
        padding-left: 83px;
      }
      .clothes img{
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .clothes cloth{
        padding-left: 90px;
      }
      .lit img{
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .lit lit{
        padding-left: 90px;
      }
      .music img{
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .music music{
        display: none;
      }
      .music music1{
        display: block; 
        text-align: center;
      }
      
      .personal img{
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .personal per{
        display: none;
      }
      .personal per1{
        display: block;
        text-align: center;
      }
      .sport img{
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .sport sport{
        display: none;
      }
      .sport sport1{
        display: block;
        text-align: center;
      }
      .recentlost h3{
        padding-top: 20px;
        margin-top: 10px;
        margin-left: 30px;
        padding-left: 50px;
        border-radius: 20px;
        height: auto;
        width: 937px;
        border-color: #f2f1f1;
        border-style: groove;
        padding-bottom: 40px;
      }
      .recentlost1 a{
        padding-left: 730px;
        font-size: 40px;
        color: #000;
      }
      .lost1{
        padding-top: 20px;
        margin-top: 20px;
        border: 3px;
        border-radius: 20px;
        width: 870px;
        border-color: #d9d9d9;
       border-style: solid;
       padding-left: 20px;
       height: auto;
      }
      .a2 img{
        height: 50px;
        width: 150px;
        margin-left: 700px;
      }
      
      .lost2 , .lost3{
        padding-top: 20px;
        margin-top: 10px;
        border: 3px;
        border-radius: 20px;
        height: auto;
        width: 870px;
        border-color: #d9d9d9;
       border-style: solid;
       padding-left: 20px;
      
      }
      
      .recentfound h3{
        padding-top: 20px;
        margin-top: 10px;
        margin-left: 30px;
        padding-left: 50px;
        border-radius: 20px;
        height: auto;
        width: 937px;
        border-color: #f2f1f1;
        border-style: groove;
        padding-bottom: 40px;
      }
      .recentfound a{
        padding-left: 730px;
        font-size: 40px;
        color: #000;
      }
      .a3 img{
        height: 50px;
        width: 150px;
        margin-left: -30px;
        margin-top: -10px;
      }
      
      .found1{
        padding-top: 20px;
        margin-top: 20px;
        border: 3px;
        border-radius: 20px;
        height: auto;
        width: 870px;
        border-color: #d9d9d9;
       border-style: solid;
       padding-left: 20px;
      }
      .found2 , .found3{
        padding-top: 20px;
        margin-top: 10px;
        border: 3px;
        border-radius: 20px;
        height: auto;
        width: 870px;
        border-color: #d9d9d9;
       border-style: solid;
       padding-left: 20px;
      }
      
      .footer{
        margin-top: 10px;
        height: 200px;
        background-color:#555a6e;
        color: #fff;
      }
      .footer1{
        list-style: none;
        display: flex;
      }
      .space-around { 
        justify-content: center; 
      }
      .aboutus, .terms, .privacy, .feedback{
        
        padding-top: 10px;
        padding-left: 40px;
      }
      .aboutus a, .terms a, .privacy a, .feedback a{
        color: #d7d7d7;
      }
      .icon{
        list-style: none;
        display: flex;
      }
      .fb img{
        height: 30px;
        width: 30px;
        padding-top: 13px;
      }
      .twitter img{
        height: 35px;
        width: 35px;
      }
      .insta img{
        height: 35px;
        width: 35px;
      }
      .twitter, .insta{
        padding-top: 10px;
        padding-left: 40px;
      }
      .c a2{
        color: #D9D9D9;
        padding-left: 600px;
      }
  
  }

}